<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{290,1},{58,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{88,48}</string>
                <key>textureRect</key>
                <string>{{274,95},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,116}</string>
                <key>textureRect</key>
                <string>{{230,1},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{108,120}</string>
                <key>textureRect</key>
                <string>{{162,1},{66,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{74,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{86,1},{74,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{83,108}</string>
                <key>spriteSourceSize</key>
                <string>{121,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{46,27}</string>
                <key>spriteSourceSize</key>
                <string>{92,139}</string>
                <key>textureRect</key>
                <string>{{290,61},{46,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{338,61},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{58,26}</string>
                <key>spriteSourceSize</key>
                <string>{80,52}</string>
                <key>textureRect</key>
                <string>{{162,101},{58,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{222,101},{50,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{377,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb17eb88dcc1947c1a6a7ce81289e174:13049f5076079bedb665d7b8c6efec3c:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
